body{
	font:16px/28px arial, sans-serif;
	background-image: url(gambar/BG4.jpg)
}	
.container {
	margin-left: 5%;
	margin-right:9%;
	padding-top: 5%;
	/*background-color: white;*/
}
.header {
	height: 60px;
	width: 100%;
	background-color: #72E4E4;
	padding: 10px 50px;
	margin-top: -10px;
	margin-left: -10px;
}
.container .gambar  {
	margin-top: 1%;
	margin-left: 5%;
}
.container .artikel2, .artikel3  {
	margin-top: 10%;
}

.contact {
	height:280px;
	width: 100%;
	margin-left: -10px;
	/*background-image: url(gambar/contact.jpg)/*/*/*/
	/*background-position: 5px;*/
	background-size: cover;
	background-color: #eaeaea;
	margin-bottom: -10px;

	
}
.contact .text{
	padding: 5%;
}

.footer {
	margin-left:-10px;
	background-color: black;
	height: 50px;
	width: 100%;
}

.footer .Privacy {
	color: white;
	font-size: 11px;
	padding-left: 5%;*/
}
