*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url("img/background.png") center;
}
.title{
    padding: 15px 50px;
    background-color: #8ef7f7;
    filter: drop-shadow(0 0 3px #414144);
    background-size: auto;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}
.container{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 80px;
    flex-direction: column;
}
.box{
    width: 90%;
    margin: 40px 0;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    display: flex;
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.5);
}
.judul{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.788);
}
.text{
    justify-content: left;
    text-align: left;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.788);
}
.btn{
    padding-bottom: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #8ef7f7;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 22px;
    margin-bottom: 22px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
.img{
    width: px;
}
.right{
    padding: 25px 40px;
}
.TableRight{
    position: relative;
    width: 375px;
    height: 500px;
    border-collapse: collapse;
    border: 1px solid #bcd3c7;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}

tr{
    transition: all .2s ease-in;
    cursor: pointer;
}

th,td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.header{
    background-color: #8ef7f7;
    color: #fff;
}

tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}