body{
	margin: 0px;
	padding: 0px;
	font:16px/28px arial, sans-serif;
}

.header{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 5%;
    height: 35px;
	background-color: #8ef7f7;
	filter: drop-shadow(0 0 3px #414144);
	background-size: auto;
}
.container{
	margin: 15% 0;

	text-align: center;
}

.button button{
	background-color: #8ED99C;
	box-sizing: content-box;
	width: 200px;
	height: 25px;
	border: none;
}

button:focus{
	background-color: aqua;
}

.ContactInfo{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url(img/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.Contact{
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
h3{
	padding-left: 50px;
}
.box{
	position: relative;
	padding:  0;
	display: flex;
}
.icon{
	min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.text{
	margin:-10px;
}

.footer {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 50px;
	background-color: #04102E;
	background-size: auto;
}

.footer .Privacy {
	color: white;
	font-size: 11px;
}

