body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	font:16px/28px arial, sans-serif;
}

.header{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 5%;
    height: 35px;
	background-color: #8ef7f7;
	filter: drop-shadow(0 0 3px #414144);
	background-size: auto;
}
.container{
	/*margin: 15% 0;*/
	margin-top: 35%;
	margin-bottom: 40%;
	text-align: center;
}
 
input{
  padding: 8px;
  width: 50px;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
  border-radius: 3px;
  text-align: center;
}
 
label{
	font-size: 12px;
}
span{
	color: red;
}
/*#Message {
  background: #8ED99C;
  border: 0;
  padding: 5px 8px;
}*/
/*input,
textarea{
	width: 250px;
	border-radius: 4px;
	box-shadow: 0 0 3px #aaa;
}*/

button{
	background-color: #8ED99C;
	box-sizing: content-box;
	width: 200px;
	height: 25px;
	border: none;
	border-radius: 3px;
}

button:focus{
	background-color: aqua;
}

.ContactInfo{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url(img/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.Contact{
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
h3{
	padding-left: 50px;
}
.box{
	position: relative;
	padding:  0;
	display: flex;
}
.icon{
	min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.text{
	margin:-10px;
}

.footer {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 50px;
	background-color: #04102E;
	background-size: auto;
}

.footer .Privacy {
	color: white;
	font-size: 11px;
}

/*Jika ukuran layar min/lebih dari 1000px*/
@media (min-width: 1000px){
	.container{
		margin-top: 20%;
		margin-bottom: 20%;
	}
}
/*Jika ukuran layar antara 480px sampai 767px */
@media (min-width: 480px) and (max-width: 767px){
	.container{
		margin-top: 40%;
	}
	.Contact{
		padding-left: 10px;
		padding-bottom: 10px;
	}
	.footer{
		padding-left: 20px;
	}
}
/*Jika ukuran layar max 479px*/
@media (max-width: 479px){
	body{
		font:14px/28px arial, sans-serif;
	}
	.container{
		margin-top: 50%;
		margin-bottom: 50%;
	}
	button{
		width: 120px;
	}
	.Contact{
		padding-left: 0;
		padding-top: 0;
		padding-bottom: 10px;
	}
	.footer{
		padding-left: 20px;
	}
}
