*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{

}
.home{
    /* background: url("img/Bacground.jpg") no-repeat center; */
    background-color: burlywood;
    background-size: cover;
    width: 100%;
    height: 100%;
}
nav{
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px ;
}
nav ul li{
    display: inline;
    padding-right: 30px;
    line-height: 80px;
    margin: 0, 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}
.intro-atas{
    margin-top: 280px;
    padding-bottom: 20px;
    padding-left: 100px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.intro-bawah{
    margin-top: 5px;
    padding-bottom: 95px;
    padding-left: 100px;
    color: white;
    font-size: 17px;
    line-height: 1.6;
}
.logo{
    margin-top: -62px;
    padding-left: 100px;
}
.About-us{
    /* background: url("img/Bacground.jpg") no-repeat center; */
    background-color: navy;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.AU-title{
    padding-top: 62px;
    padding-left: 100px;
    color:black;
    font-size: 30px;
    font-weight: bold;
}
.AU-desc{
    padding-top: 42px;
    padding-left: 100px;
    padding-right: 580px;
    padding-bottom: 27px;
    color: black;
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
}
.AU-List{
    padding-top: 42px;
    padding-left: 100px;
    color: black;
    font-size: 17px;
    line-height: 1.6;
}
.List-Title{
    font-weight: bold;
    line-height: 1.6;
}
.AU-List ul {
    list-style: none;
    line-height: 1.6;
    padding-bottom: 91px;
}
  
.AU-List  ul li:before {
    content: '\2713\0020';
  }
.Servis{
    background: url("img/lightbg.png") center;
    background-color: yellow;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.S-title{
    padding-top: 62px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.K-desc{
    padding-top: 42px;
    padding-left: 140px;
    padding-right: 810px;
    color: black;
    font-size: 14px;
    line-height: 1.6;
}
.Sub-title{
    font: 50px;
    font-weight: bold;
}
.sub-isi{
    text-align: center;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 27px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2); */
}
.S-desc{
    margin-top: -268px;
    padding-left: 490px;
    padding-right: 460px;
    padding-bottom: 27px;
    color: black;
    font-size: 14px;
    line-height: 1.6;
}

.KO-desc{
    margin-top: -295px;
    padding-left: 840px;
    padding-right: 110px;
    padding-bottom: 27px;
    color: black;
    font-size: 14px;
    line-height: 1.6;
}
.KO-isi{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: px;
}
.S-Promo{
    padding-top: 100px;
}
.C1-blur{
    background-color: white;
    padding-left: 20px;
    font-weight: bold;
    margin-top: -230px; 
    margin-left: 20px;
    margin-right: 830px;
    margin-bottom: -2px;
    border-radius: 10px;
}
.C2-jelas{
    position: flex;
    margin-left: 440px;
    margin-right: 712px;
    margin-bottom: -2px;
}
.C2-blur{
    background-color: white;
    padding-left: 20px;
    font-weight: bold;
    margin-top: -270px; 
    margin-left: 830px;
    margin-right: 20px;
    margin-bottom: -2px;
    border-radius: 10px;
}
.S-Paket{
    padding-bottom: 100px;
}
.S-title{
    padding-top: 50px;
    padding-bottom: 80px;
}
.btn{
    padding-bottom: 10px;
    padding: 5px;
    background-color: #2b1fcfea;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 15px;
}

.P1{
    position: flex;
    background-color: rgb(175, 226, 221);
    text-align: center;
    margin-left: 200px;
    margin-right: 825px;
    transition: 1s;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 27px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
.P1:hover{
    transform:scale(1.3)
}
.P2{
    position: flex;
    background-color: rgb(108, 223, 211);
    text-align: center;
    margin-top: -148px;
    margin-left: 375px;
    margin-right: 650px;
    transition: 1s;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 27px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
.P2:hover{
    transform:scale(1.3)
}
.P3{
    position: flex;
    background-color: turquoise;
    text-align: center;
    margin-top: -148px;
    margin-left: 550px;
    margin-right: 475px;
    transition: 1s;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 27px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
.P3:hover{
    transform:scale(1.3)
}
.P4{
    position: flex;
    background-color: turquoise;
    text-align: center;
    margin-top: -148px;
    /* margin-top: -298px; */
    margin-left: 720px;
    margin-right: 285px;
    transition: 1s;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 27px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
.P4:hover{
    transform:scale(1.3)
}
.P5{
    position: flex;
    background-color: turquoise;
    text-align: center;
    margin-top: -148px;
    margin-left: 910px;
    margin-right: 95px;
    transition: 1s;
    padding-top: 25px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 27px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}
.P5:hover{
    transform:scale(1.3)
}